[livemetrics]
logFile = lm.log
credentials = credentials.json
iterations = 5
wrapper = c:\program files\intel\power log 2.7\powerlog2.7.exe
wrapperArgs = -file {log} -cmd {binary} %*
tests = espn, gmail, idle

